cloudpickle==2.0.0
cycler==0.11.0
fonttools==4.31.2
gym==0.23.1
gym-notices==0.0.6
importlib-metadata==4.11.3
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
pyparsing==3.0.7
python-dateutil==2.8.2
six==1.16.0
zipp==3.8.0
pygame==2.1.2
tensorflow==2.9.1
typing-extensions==4.2.0